*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* share style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}


.btn{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 10px;
    padding: 18px 35px;
    cursor: pointer;
    
    
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}
.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;

}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height:30px ;
    color: #757575 ;
}
/* main style */
.logo h2{
    font-size: 45px;
    font-weight:900;

}
.color-orange{
    color:#FD6E0A ;
}
/* main style */
header{
    background-color:#FFF8F3;
    padding-top: 50px;
    background:url(../images/developer.png),url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left,bottom right;

}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 2px solid red; */
    margin: 0% auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a {
    text-decoration: none;
    font-size: 20px;
    color:#474747 ;

}
#banner{
    margin:45px 38px 0px 268px ;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#banner .banner-content {
    max-width: 400px;
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color:#757575;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
}
#banner.banner-image {
    max-width: 584px;
    max-height: 676px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;

}
#about .about-container {
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
    text-align: center;
    background-color:#FFF8F3 ;
    padding: 131px 155px;

}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
#about .about-container .about-info p{
    font-size: 20px;
    color: #757575;
}
#skill {
    padding-top: 130px;
}#skill .skill-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;

}
#skill .skill-container .skill-box {
    display: flex;
    gap: 24px;

}
#skill .skill-container .skill-box .skill-card {
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #5c5c5c;

}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
    
}
.skill-card p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
    color: #757575;

}


